<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
      const socket = io("/");
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div id="video-grid"></div>
    <div
      id="controls"
      style="display: flex; height: 300px; width: 100%; border: 1px solid black"
    >
      <div class="mute" style="cursor: pointer; width: 10%">Unmute</div>

      <div class="videoControl" style="cursor: pointer">Hide Video</div>
    </div>
    <div
      id="chat"
      style="
        display: flex;
        height: 300px;
        width: 100%;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        overflow: auto;
      "
    >
      <div id="chat-here">Chat Will come here</div>
      <label for="input-chat"></label>
      <input id="input-chat" name="input-chat" />
    </div>
  </body>
</html>
